<img src=images/health-fitness-image.jpg>

### Project By Kim Wolf
***

#### Import Library

In [ ]:
# Import modules and libraries needed for Health and Fitness Relationship project
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import glob, os, json, datetime
from pandas import Series, DataFrame

#### Feature 1 - Load data. 
Read two JSON data files.

<img src=images/exercise.jfif>
The first set of data focus is on two participants EXERCISE data.

In [303]:
# Read in EXERCISE data from participant one (p01).
# Display the first 5 rows of data.
p01_exercise = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/exercise.json" )
p01_exercise.head()

,logId,activityName,activityTypeId,activityLevel,averageHeartRate,calories,duration,activeDuration,steps,logType,...,elevationGain,hasGps,shouldFetchDetails,distance,distanceUnit,source,tcxLink,speed,pace,vo2Max
0,26451905128,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",94,192,1331000,1331000,1878,auto_detected,...,24.384,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26455950499,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",94,302,2202000,2202000,2786,auto_detected,...,27.432,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26467488515,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",98,354,2458000,2458000,3035,auto_detected,...,21.336,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26520401069,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",97,145,1024000,1024000,1284,auto_detected,...,21.336,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26538035127,Walk,90013,"[{'minutes': 3, 'name': 'sedentary'}, {'minute...",93,121,973000,973000,1065,auto_detected,...,3.048,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [304]:
# Read in EXERCISE data from participant two (p02).
# Display the first 5 rows of data.
p02_exercise = pd.read_json("osfstorage-archive/pmdata/p02/fitbit/exercise.json" )
p02_exercise.head()

,logId,activityName,activityTypeId,activityLevel,averageHeartRate,calories,duration,activeDuration,steps,logType,...,shouldFetchDetails,distance,distanceUnit,source,speed,pace,tcxLink,swimLengths,poolLength,poolLengthUnit
0,26555895608,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",108.0,105,922000,922000,1139.0,auto_detected,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26516538165,Run,90009,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",136.0,544,4315000,4114000,10034.0,tracker,...,False,9.356687,Kilometer,"{'type': 'tracker', 'name': 'Versa 2', 'id': '...",8.188609,439.635126,NaN,NaN,NaN,NaN
2,26576453784,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",97.0,186,1280000,1280000,1939.0,auto_detected,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26580173239,Sport,15000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",95.0,258,1792000,1792000,2741.0,auto_detected,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26580173240,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",88.0,197,1433000,1433000,1861.0,auto_detected,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Feature 2 - Clean EXERCISE data while combining. 
Clean data and perform a pandas merge with two data sets, then calculate some new values based on the new data set.

In [305]:
# Add 'Participant' as a new column name for participant one (p01) EXERCISE data
# Display the first 5 rows of data.
Exercise_p01_info = p01_exercise.assign(Participant="p01")
Exercise_p01_info.head()

,logId,activityName,activityTypeId,activityLevel,averageHeartRate,calories,duration,activeDuration,steps,logType,...,hasGps,shouldFetchDetails,distance,distanceUnit,source,tcxLink,speed,pace,vo2Max,Participant
0,26451905128,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",94,192,1331000,1331000,1878,auto_detected,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p01
1,26455950499,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",94,302,2202000,2202000,2786,auto_detected,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p01
2,26467488515,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",98,354,2458000,2458000,3035,auto_detected,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p01
3,26520401069,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",97,145,1024000,1024000,1284,auto_detected,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p01
4,26538035127,Walk,90013,"[{'minutes': 3, 'name': 'sedentary'}, {'minute...",93,121,973000,973000,1065,auto_detected,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p01

In [306]:
# Add 'Participant' as a new column name for participant two (p02) EXERCISE data
# Display the first 5 rows of data.
Exercise_p02_info = p02_exercise.assign(Participant="p02")
Exercise_p02_info.head()

,logId,activityName,activityTypeId,activityLevel,averageHeartRate,calories,duration,activeDuration,steps,logType,...,distance,distanceUnit,source,speed,pace,tcxLink,swimLengths,poolLength,poolLengthUnit,Participant
0,26555895608,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",108.0,105,922000,922000,1139.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p02
1,26516538165,Run,90009,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",136.0,544,4315000,4114000,10034.0,tracker,...,9.356687,Kilometer,"{'type': 'tracker', 'name': 'Versa 2', 'id': '...",8.188609,439.635126,NaN,NaN,NaN,NaN,p02
2,26576453784,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",97.0,186,1280000,1280000,1939.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p02
3,26580173239,Sport,15000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",95.0,258,1792000,1792000,2741.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p02
4,26580173240,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",88.0,197,1433000,1433000,1861.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p02

In [307]:
# MERGE
# Merge participant one (p01) and participant two (p02) EXERCISE data
# Display the first 5 and last 5 rows of data.
Exercise_p_info = pd.concat([Exercise_p01_info,Exercise_p02_info])
Exercise_p_info.head(-5)

,logId,activityName,activityTypeId,activityLevel,averageHeartRate,calories,duration,activeDuration,steps,logType,...,distanceUnit,source,tcxLink,speed,pace,vo2Max,Participant,swimLengths,poolLength,poolLengthUnit
0,26451905128,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",94.0,192,1331000,1331000,1878.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p01,NaN,NaN,NaN
1,26455950499,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",94.0,302,2202000,2202000,2786.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p01,NaN,NaN,NaN
2,26467488515,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",98.0,354,2458000,2458000,3035.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p01,NaN,NaN,NaN
3,26520401069,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",97.0,145,1024000,1024000,1284.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p01,NaN,NaN,NaN
4,26538035127,Walk,90013,"[{'minutes': 3, 'name': 'sedentary'}, {'minute...",93.0,121,973000,973000,1065.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,29952932981,Run,90009,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",119.0,218,1126000,1126000,2238.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p02,NaN,NaN,NaN
315,29975932738,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",107.0,195,1229000,1229000,1934.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p02,NaN,NaN,NaN
316,29984508918,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",95.0,229,1689000,1689000,2408.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p02,NaN,NaN,NaN
317,30000528916,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",108.0,958,5940000,5940000,9911.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p02,NaN,NaN,NaN
318,30000528917,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",102.0,165,1024000,1024000,1574.0,auto_detected,...,NaN,NaN,NaN,NaN,NaN,NaN,p02,NaN,NaN,NaN

In [308]:
# Clean data file to remove unnecessary columns, create new dataframe for analysis.
Participant_info = Exercise_p_info.drop(columns=['logId','activityTypeId','calories', 'activeDuration','originalStartTime','lastModified','originalDuration','logType','activityLevel','manualValuesSpecified','heartRateZones','distanceUnit','source','tcxLink','speed','pace','vo2Max','hasGps','elevationGain', 'distance','shouldFetchDetails','swimLengths','poolLength','poolLengthUnit'])
Participant_info.head(-5)

,activityName,averageHeartRate,duration,steps,startTime,Participant
0,Walk,94.0,1331000,1878.0,2019-11-01 14:56:32,p01
1,Walk,94.0,2202000,2786.0,2019-11-01 19:03:11,p01
2,Walk,98.0,2458000,3035.0,2019-11-02 13:26:38,p01
3,Walk,97.0,1024000,1284.0,2019-11-04 21:22:08,p01
4,Walk,93.0,973000,1065.0,2019-11-05 19:27:25,p01
...,...,...,...,...,...,...
314,Run,119.0,1126000,2238.0,2020-03-27 11:28:25,p02
315,Walk,107.0,1229000,1934.0,2020-03-28 16:43:07,p02
316,Walk,95.0,1689000,2408.0,2020-03-28 19:55:07,p02
317,Walk,108.0,5940000,9911.0,2020-03-29 12:40:20,p02
318,Walk,102.0,1024000,1574.0,2020-03-29 15:22:28,p02

In [309]:
# Add new columns to Participant_info dataframe. Convert startTime to convDate
Participant_info['convDate'] = pd.to_datetime(Participant_info['startTime']).dt.date
print(Participant_info)

     activityName  averageHeartRate  duration    steps            startTime  \
0            Walk              94.0   1331000   1878.0  2019-11-01 14:56:32
1            Walk              94.0   2202000   2786.0  2019-11-01 19:03:11
2            Walk              98.0   2458000   3035.0  2019-11-02 13:26:38
3            Walk              97.0   1024000   1284.0  2019-11-04 21:22:08
4            Walk              93.0    973000   1065.0  2019-11-05 19:27:25
..            ...               ...       ...      ...                  ...
319         Sport              96.0   1127000   1603.0  2020-03-30 08:41:50
320          Walk             107.0   6656000  11796.0  2020-03-30 14:02:42
321  Outdoor Bike              96.0   3539000      NaN  2020-03-31 09:46:05
322         Sport             100.0   1638000   2408.0  2020-03-31 10:49:20
323  Outdoor Bike              93.0    922000      NaN  2020-03-31 14:34:30

    Participant    convDate
0           p01  2019-11-01
1           p01  2019-11-01
2           p01  2019-11-02
3           p01  2019-11-04
4           p01  2019-11-05
..          ...         ...
319         p02  2020-03-30
320         p02  2020-03-30
321         p02  2020-03-31
322         p02  2020-03-31
323         p02  2020-03-31

[514 rows x 7 columns]

In [310]:
#Data classes in data frame
Participant_info.dtypes

activityName         object
averageHeartRate    float64
duration              int64
steps               float64
startTime            object
Participant          object
convDate             object
dtype: object

#### Feature 1 - Load data. 
Read two JSON data files.

<img src=images/heart_rate.jfif>
The next set of data focus is on two participants HEART RATE data.

In [311]:
# Read in HEART RATE data from participant one (p01).
# Display the first 5 and last 5 rows of data.
p01_heart_rate = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/heart_rate.json" )
p01_heart_rate.head(-5)

                   dateTime                         value
0       2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}
1       2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}
2       2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}
3       2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}
4       2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}
...                     ...                           ...
1573155 2020-03-31 23:58:33  {'bpm': 54, 'confidence': 3}
1573156 2020-03-31 23:58:43  {'bpm': 55, 'confidence': 3}
1573157 2020-03-31 23:58:53  {'bpm': 56, 'confidence': 3}
1573158 2020-03-31 23:58:58  {'bpm': 56, 'confidence': 3}
1573159 2020-03-31 23:59:08  {'bpm': 57, 'confidence': 3}

[1573160 rows x 2 columns]

In [312]:
# Read in HEART RATE data from participant two (p02).
# Display the first 5 and last 5 rows of data.
p02_heart_rate = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/heart_rate.json" )
p02_heart_rate.head(-5)

                   dateTime                         value
0       2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}
1       2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}
2       2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}
3       2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}
4       2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}
...                     ...                           ...
1573155 2020-03-31 23:58:33  {'bpm': 54, 'confidence': 3}
1573156 2020-03-31 23:58:43  {'bpm': 55, 'confidence': 3}
1573157 2020-03-31 23:58:53  {'bpm': 56, 'confidence': 3}
1573158 2020-03-31 23:58:58  {'bpm': 56, 'confidence': 3}
1573159 2020-03-31 23:59:08  {'bpm': 57, 'confidence': 3}

[1573160 rows x 2 columns]

#### Feature 2 - Clean HEART RATE data while combining. 
Clean data and perform a pandas merge with two data sets, then calculate some new values based on the new data set.

In [313]:
# Add 'Participant' as a new column name for participant one (p01) HEART RATE data
# Display the first 5 and last 5 rows of data.
Heart_Rate_p01_info = p01_heart_rate.assign(Participant="p01")
Heart_Rate_p01_info.head(-5)

                   dateTime                         value Participant
0       2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}         p01
1       2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}         p01
2       2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}         p01
3       2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}         p01
4       2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}         p01
...                     ...                           ...         ...
1573155 2020-03-31 23:58:33  {'bpm': 54, 'confidence': 3}         p01
1573156 2020-03-31 23:58:43  {'bpm': 55, 'confidence': 3}         p01
1573157 2020-03-31 23:58:53  {'bpm': 56, 'confidence': 3}         p01
1573158 2020-03-31 23:58:58  {'bpm': 56, 'confidence': 3}         p01
1573159 2020-03-31 23:59:08  {'bpm': 57, 'confidence': 3}         p01

[1573160 rows x 3 columns]

In [314]:
# Add 'Participant' as a new column name for participant two (p02) HEART RATE data
# Display the first 5 and last 5 rows of data.
Heart_Rate_p02_info = p02_heart_rate.assign(Participant="p02")
Heart_Rate_p02_info.head(-5)

                   dateTime                         value Participant
0       2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}         p02
1       2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}         p02
2       2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}         p02
3       2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}         p02
4       2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}         p02
...                     ...                           ...         ...
1573155 2020-03-31 23:58:33  {'bpm': 54, 'confidence': 3}         p02
1573156 2020-03-31 23:58:43  {'bpm': 55, 'confidence': 3}         p02
1573157 2020-03-31 23:58:53  {'bpm': 56, 'confidence': 3}         p02
1573158 2020-03-31 23:58:58  {'bpm': 56, 'confidence': 3}         p02
1573159 2020-03-31 23:59:08  {'bpm': 57, 'confidence': 3}         p02

[1573160 rows x 3 columns]

In [315]:
# MERGE
# Merge participant one (p01) and participant two (p02) HEART RATE data
# Display the first 5 and last 5 rows of data.
Heart_Rate_p_info = pd.concat([Heart_Rate_p01_info,Heart_Rate_p02_info])
Heart_Rate_p_info.head(-5)

                   dateTime                         value Participant
0       2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}         p01
1       2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}         p01
2       2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}         p01
3       2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}         p01
4       2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}         p01
...                     ...                           ...         ...
1573155 2020-03-31 23:58:33  {'bpm': 54, 'confidence': 3}         p02
1573156 2020-03-31 23:58:43  {'bpm': 55, 'confidence': 3}         p02
1573157 2020-03-31 23:58:53  {'bpm': 56, 'confidence': 3}         p02
1573158 2020-03-31 23:58:58  {'bpm': 56, 'confidence': 3}         p02
1573159 2020-03-31 23:59:08  {'bpm': 57, 'confidence': 3}         p02

[3146325 rows x 3 columns]

In [331]:
# Clean data file to add new column and change column name. Convert dateTime to convDate
Heart_Rate_p_info.rename(columns = {'value':'HeartRate'}, inplace = True)
Heart_Rate_p_info['convDate'] = pd.to_datetime(Heart_Rate_p_info['dateTime']).dt.date
print(Heart_Rate_p_info)

                   dateTime                     HeartRate Participant  \
0       2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}         p01
1       2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}         p01
2       2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}         p01
3       2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}         p01
4       2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}         p01
...                     ...                           ...         ...
1573160 2020-03-31 23:59:18  {'bpm': 55, 'confidence': 3}         p02
1573161 2020-03-31 23:59:23  {'bpm': 54, 'confidence': 3}         p02
1573162 2020-03-31 23:59:33  {'bpm': 56, 'confidence': 3}         p02
1573163 2020-03-31 23:59:48  {'bpm': 56, 'confidence': 3}         p02
1573164 2020-03-31 23:59:58  {'bpm': 55, 'confidence': 3}         p02

           convDate
0        2019-11-01
1        2019-11-01
2        2019-11-01
3        2019-11-01
4        2019-11-01
...             ...
1573160  2020-03-31
1573161  2020-03-31
1573162  2020-03-31
1573163  2020-03-31
1573164  2020-03-31

[3146330 rows x 4 columns]

In [332]:
#Data classes in data frame
Heart_Rate_p_info.dtypes

dateTime       datetime64[ns]
HeartRate              object
Participant            object
convDate               object
dtype: object

## Stop and look above to confirm all data sets are good

In [317]:
# Create a new dataframe of participant one (p01) and participant two (p02) data for the time period November 1, 2019 - March 31, 2021.
# New dataframe includes heart rate, resting heart rate and steps.
# Display dataframe.

#### Feature 4 - Best practices

## Kim's Health data

In [318]:
# Read in health data from Kim Wolf's iWatch and iPhone export for time period November 1, 2019 - September 30, 2022 and create kw_data dataframe.
kw_data = pd.read_csv("Export_KW_HealthDataDays_2019-11-01_2022-09-30.csv")
kw_data

,Date,Active energy burned(Cal),Apple Watch stand hours(hr),Basal energy burned(Cal),Distance walking / running(mi),Exercise time(min),Flights climbed(count),Heart rate(count/min),Resting heart rate(count/min),Stand time(min),Step count(count),Walking heart rate average(count/min)
0,2019-11-01,NaN,NaN,NaN,1.911,NaN,NaN,NaN,NaN,NaN,5940.0,NaN
1,2019-11-02,NaN,NaN,NaN,0.985,NaN,NaN,NaN,NaN,NaN,2909.0,NaN
2,2019-11-03,NaN,NaN,NaN,0.718,NaN,NaN,NaN,NaN,NaN,2151.0,NaN
3,2019-11-04,NaN,NaN,NaN,0.634,NaN,1.0,NaN,NaN,NaN,1783.0,NaN
4,2019-11-05,NaN,NaN,NaN,1.426,NaN,3.0,NaN,NaN,NaN,4153.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1060,2022-09-26,1051.498,15.0,2288.628,6.616,68.0,NaN,87.555,56.0,212.0,14289.0,111.0
1061,2022-09-27,849.016,15.0,2288.072,4.858,50.0,NaN,77.676,53.0,138.0,10460.0,111.0
1062,2022-09-28,841.817,18.0,2203.972,5.006,45.0,NaN,77.643,49.0,199.0,11064.0,114.0
1063,2022-09-29,793.170,15.0,2268.134,3.900,31.0,17.0,74.585,60.0,155.0,8909.0,113.0
1064,2022-09-30,607.323,14.0,2149.284,2.679,12.0,5.0,64.816,53.0,90.0,5916.0,100.0

In [319]:
# Identify data classes in kw_data dataframe
kw_data.dtypes

Date                                      object
Active energy burned(Cal)                float64
Apple Watch stand hours(hr)              float64
Basal energy burned(Cal)                 float64
Distance walking / running(mi)           float64
Exercise time(min)                       float64
Flights climbed(count)                   float64
Heart rate(count/min)                    float64
Resting heart rate(count/min)            float64
Stand time(min)                          float64
Step count(count)                        float64
Walking heart rate average(count/min)    float64
dtype: object

In [320]:
# Create new dataframe of select health and activity data. Including heart rate, resting heart rate and step count from kw_data and create new dataframe.
# Display the first 5 and last 5 rows of data in the newly created dataframe kw_data2.
kw_data2 = kw_data[['Date', 'Heart rate(count/min)', 'Resting heart rate(count/min)', 'Step count(count)']].copy()
kw_data2.head(-5)

,Date,Heart rate(count/min),Resting heart rate(count/min),Step count(count)
0,2019-11-01,NaN,NaN,5940.00
1,2019-11-02,NaN,NaN,2909.00
2,2019-11-03,NaN,NaN,2151.00
3,2019-11-04,NaN,NaN,1783.00
4,2019-11-05,NaN,NaN,4153.00
...,...,...,...,...
1055,2022-09-21,79.271,55.0,11567.78
1056,2022-09-22,76.227,59.0,10049.00
1057,2022-09-23,69.200,58.0,10023.00
1058,2022-09-24,67.430,56.0,7143.00
1059,2022-09-25,83.059,57.0,11697.00

## Trying to read in multiple participants data at one time

In [321]:
# Read in heart rate data from a data set of multiple participants.
## This code currently reads information of only one participant. Need to figure out how to read in data from multiple participants.

all_p_heart_rate = glob.glob("osfstorage-archive/pmdata/p01/fitbit/heart_rate.json" )
all_p_heart_rate

['osfstorage-archive/pmdata/p01/fitbit/heart_rate.json']

In [322]:
# Read in resting heart rate data from Kaggle data set of multiple participants for the time period November 1, 2019 - unknown.
# Display the first 5 rows of data.
p01_resting_heart_rate = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/resting_heart_rate.json")
p01_resting_heart_rate.head()

    dateTime                                              value
0 2019-11-01  {'date': '11/01/19', 'value': 53.7410736083984...
1 2019-11-02  {'date': '11/02/19', 'value': 52.8814973831176...
2 2019-11-03  {'date': '11/03/19', 'value': 53.2220239639282...
3 2019-11-04  {'date': '11/04/19', 'value': 54.3111410140991...
4 2019-11-05  {'date': '11/05/19', 'value': 52.2591104507446...

In [323]:
# Read in steps data from Kaggle data set of multiple participants for the time period November 1, 2019 - unknown.
# Display the first 5 rows of data.
p01_steps = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/steps.json")
p01_steps.head()

             dateTime  value
0 2019-11-01 00:00:00      0
1 2019-11-01 00:01:00      0
2 2019-11-01 00:02:00      0
3 2019-11-01 00:03:00      0
4 2019-11-01 00:04:00      0

In [324]:
# Read in resting heart rate data from Kaggle data set of multiple participants for the time period November 1, 2019 - unknown.
# Display the first 5 rows of data.
p01_resting_heart_rate = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/resting_heart_rate.json")
p01_resting_heart_rate.head()

    dateTime                                              value
0 2019-11-01  {'date': '11/01/19', 'value': 53.7410736083984...
1 2019-11-02  {'date': '11/02/19', 'value': 52.8814973831176...
2 2019-11-03  {'date': '11/03/19', 'value': 53.2220239639282...
3 2019-11-04  {'date': '11/04/19', 'value': 54.3111410140991...
4 2019-11-05  {'date': '11/05/19', 'value': 52.2591104507446...

In [325]:
# Display data from p01_resting_heart_rate to determine ending time period.
print(p01_resting_heart_rate)

      dateTime                                              value
0   2019-11-01  {'date': '11/01/19', 'value': 53.7410736083984...
1   2019-11-02  {'date': '11/02/19', 'value': 52.8814973831176...
2   2019-11-03  {'date': '11/03/19', 'value': 53.2220239639282...
3   2019-11-04  {'date': '11/04/19', 'value': 54.3111410140991...
4   2019-11-05  {'date': '11/05/19', 'value': 52.2591104507446...
..         ...                                                ...
147 2020-03-27  {'date': '03/27/20', 'value': 50.2325077056884...
148 2020-03-28  {'date': '03/28/20', 'value': 51.1251735687255...
149 2020-03-29  {'date': '03/29/20', 'value': 53.0705003738403...
150 2020-03-30  {'date': '03/30/20', 'value': 52.1750831604003...
151 2020-03-31  {'date': '03/31/20', 'value': 52.5566682815551...

[152 rows x 2 columns]

In [326]:
# Write a query in Pandas to rename select column name
p01_resting_heart_rate.rename(columns = {'value':'RestingHeartRate'}, inplace = True)
# View dataframe to confirm column name change
print(p01_resting_heart_rate)

      dateTime                                   RestingHeartRate
0   2019-11-01  {'date': '11/01/19', 'value': 53.7410736083984...
1   2019-11-02  {'date': '11/02/19', 'value': 52.8814973831176...
2   2019-11-03  {'date': '11/03/19', 'value': 53.2220239639282...
3   2019-11-04  {'date': '11/04/19', 'value': 54.3111410140991...
4   2019-11-05  {'date': '11/05/19', 'value': 52.2591104507446...
..         ...                                                ...
147 2020-03-27  {'date': '03/27/20', 'value': 50.2325077056884...
148 2020-03-28  {'date': '03/28/20', 'value': 51.1251735687255...
149 2020-03-29  {'date': '03/29/20', 'value': 53.0705003738403...
150 2020-03-30  {'date': '03/30/20', 'value': 52.1750831604003...
151 2020-03-31  {'date': '03/31/20', 'value': 52.5566682815551...

[152 rows x 2 columns]

In [327]:
# Display data from p01_steps to determine ending time period.
print(p01_steps)

                  dateTime  value
0      2019-11-01 00:00:00      0
1      2019-11-01 00:01:00      0
2      2019-11-01 00:02:00      0
3      2019-11-01 00:03:00      0
4      2019-11-01 00:04:00      0
...                    ...    ...
218831 2020-03-31 23:55:00      0
218832 2020-03-31 23:56:00      0
218833 2020-03-31 23:57:00      0
218834 2020-03-31 23:58:00      0
218835 2020-03-31 23:59:00      0

[218836 rows x 2 columns]

In [328]:
# Write a query in Pandas to rename select column name
p01_steps.rename(columns = {'value':'Steps'}, inplace = True)
# View dataframe to confirm column name change
print(p01_steps)

                  dateTime  Steps
0      2019-11-01 00:00:00      0
1      2019-11-01 00:01:00      0
2      2019-11-01 00:02:00      0
3      2019-11-01 00:03:00      0
4      2019-11-01 00:04:00      0
...                    ...    ...
218831 2020-03-31 23:55:00      0
218832 2020-03-31 23:56:00      0
218833 2020-03-31 23:57:00      0
218834 2020-03-31 23:58:00      0
218835 2020-03-31 23:59:00      0

[218836 rows x 2 columns]

## Keep for examples

In [329]:
# Sample of for testing i in range
for i in range(1, 17):
    print(i, i ** 17)
print('end of loop')

1 1
2 131072
3 129140163
4 17179869184
5 762939453125
6 16926659444736
7 232630513987207
8 2251799813685248
9 16677181699666569
10 100000000000000000
11 505447028499293771
12 2218611106740436992
13 8650415919381337933
14 30491346729331195904
15 98526125335693359375
16 295147905179352825856
end of loop